{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'load_page/css/styles.css' %}" rel="stylesheet"/>
    <meta http-equip="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="with-device-width, initial=1.0">
</head>

<body class="main">
<!------------MAIN MENU--------------->
<nav>
        {% for m in menu %}
            <a href="{% url m.url_name  %}">{{m.title}}</a>
        {% endfor %}
        <div class="animation start-home">
        </div>
</nav>
<!--------END MAIN MENU--------------->

<div>
<!----------LOAD/GET IMAGE-------------->
{% block func %}
{% endblock %}
</div>
<!-------END LOAD/GET IMAGE-------------->
</body>

</html>
