{% extends 'load_page/base.html' %}

<!DOCTYPE html>

{% block func %}
<div class="donate">
    {% for social in socials %}
        <p class="social">
            {{ social.text }}: <a href="{{ social.link }}">{{ social.link }}</a>
        </p>
    {% endfor %}
</div>
{% endblock %}
