{% extends 'load_page/base.html' %}

<!DOCTYPE html>

{% block func %}
<div class="donate">
    <div class="text">
        {{ message.text }}
        <a href="{{message.link}}">{{ message.link }}</a>
    </div>
</div>
{% endblock %}
