{% extends 'load_page/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
<body>
{% block func %}
    <div class="copy_field">
        <h3>Поделиться секретной строкой:</h3>
        <input class="copy" value="{{ hash_data.p_hash }}" id="copy_hash" readonly>
        <button class="copy" onclick="copyHash()">Copy</button>
    </div>

    <div class="copy_field">
        <h3>Поделиться ссылкой:</h3>
        <input class="copy" value="{{ hash_data.url }}" id="copy_hash" readonly>
        <button class="copy" onclick="copyHash()">Copy</button>
    </div>

    <div class="get_photo">
        <img src="{{ photo.url }}">
    </div>

<!--------------Script for copy text--------->
<script>
    function copyHash() {
      var copyText = document.getElementById("copy_hash");
      copyText.select();
      document.execCommand("copy");
      alert("Скоировано: " + copyText.value);
    }
</script>

{% endblock %}

</body>
</html>
