{% extends 'load_page/base.html' %}


{% block func %}

<div class="input_photo">
    <form action="{% url 'load_photo' %}" method="POST" enctype="multipart/form-data" id="load_photo">
    {% csrf_token %}
    
    <p>
            {{add_photo_form.photo}}
    </p>

    <p>
        <select name="time_delete" class="dropdown" form="load_photo" required>
            <option value="" disabled selected>Время хранения</option>
            <option value="5">5 минут</option>
            <option value="15">15 минут</option>
            <option value="60">1 час</option>
            <option value="360">6 часов</option>
            <option value="1440">1 день</option>
        </select>
    </p>
    <p>
    </p>
    <button type="submit">Загрузить фото</button>
    </form>
</div>

<div class="input_hash">
    <form action="{% url 'get_photo' %}" method="POST">
        {% csrf_token %}
            {{get_photo_form.photo_hash}}
            <button type="submit">Получить фото</button>
        </div>
    </form>
</div>

{% endblock %}
