nav {
	margin: 27px auto 0;

	position: relative;
	width: 550px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 200px;
}
a:nth-child(2) {
	width: 200px;
}
a:nth-child(3) {
	width: 150px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 200px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 200px;
	left: 200px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 150px;
	left: 400px;
	background-color: #3498db;
}

body.main {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
    text-align: center;
    position: relative;
}
h1.time_delete {
	text-align: center;
	font-size: 25px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	text-transform: uppercase;
}

p {
    margin-top: 50px;
    position: auto;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

input.photo{
    width: 50%;
	height: 50px;
	background: #3498db;
	border-radius: 4px;
	color: #ecf0f1;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	display: inline-block;
    margin-top: 20px;
}

input.photo:hover{
    background: #fff;
    color: #3498db;
}

span {
    color: #2BD6B4;
}

select.dropdown {
    position: relative;
    width: 50%;
    padding: 10px;
    margin: 0 auto;

    background: #3498db;
    color: #fff;
    outline: none;

    font-weight: bold;
    text-align: center;
    font-size: 16px;
	line-height: 50px;
    border-radius: 4px;
    margin-top: -5%;
}

select.dropdown:hover{
    background: #fff;
    color: #3498db;
}


button {
    background: #3498db;
    color: #fff;
    width: 50%;
	height: 50px;
	font-size: 16px;
	border-radius: 4px;
    text-align: center;
	display: inline-block;
    font-weight: bold;
    border: none;
    margin-top: 5%;
}

button:hover{
    background: #fff;
    color: #3498db;
}

button:active{
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1)
    inset;box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1)
    inset;
        -moz-transform: translatey(3px); /* Для Firefox */
        -ms-transform: translatey(3px); /* Для IE */
        -webkit-transform: translatey(3px); /* Для Safari, Chrome, iOS */
        -o-transform:translatey(3px); /* Для Opera */
    transform: translatey(3px);
}

input.line{
    color: #000;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #000;
    border: none;
    width: 60%;
    height: 35px;
	font-size: 16px;
	background: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 3%;
}

div.input_photo {
    margin: 0 auto;
    width: 50%;
    height: 300px;
    background-color: #5BCA88;
    border-color: #000;
    border-radius: 4px;
}

div.input_hash {
    margin: 0 auto;
    width: 50%;
    height: 150px;
    background-color: #5BCA88;
    border-color: #000;
    border-radius: 4px;
    margin-top: 0.5%;
}

div.get_photo {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 60%;
    height: 500px;
	background: #2c3e50;
}

div.get_photo img{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width:100%;
    max-height: 100%;
}

button.copy {
    background: #3498db;
    color: #fff;
    width: 5%;
	height: 30px;
	font-size: 16px;
	border-radius: 4px;
    text-align: center;
	display: inline-block;
    font-weight: bold;
    border: none;
}

button.copy:hover{
    background: #fff;
    color: #3498db;
}

button.copy:active{
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1)
    inset;box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1)
    inset;
        -moz-transform: translatey(3px); /* Для Firefox */
        -ms-transform: translatey(3px); /* Для IE */
        -webkit-transform: translatey(3px); /* Для Safari, Chrome, iOS */
        -o-transform:translatey(3px); /* Для Opera */
    transform: translatey(3px);
}

input.copy {
    text-align: center;
    margin: 0 auto;
    width: 30%;
    height: 30px;
    color: #707070;
    background-color: #BABABA;
    border-color: #959595;
    border-radius: 4px;
}


h3 {
    position: auto;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
    margin-bottom: -3.5%;
}

details {
  width: 50%;
  margin: 0 auto ;
  color: #294C6D;
  background: #7E93A8;
  font-size: 16px;
  margin-bottom: .5rem;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  border-radius: 5px;
  overflow: hidden;
}

summary {
  padding: 1rem;
  display: block;
  color: #294C6D;
  background: #7E93A8;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}

summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

details[open] > summary:before {
  transform: rotate(90deg);
}


details summary::-webkit-details-marker {
  display:none;
}

div.faq_block {
    margin: 0 auto;
    margin-top: 10%;
    width: 60%;
}

.answer {
    color: #294C6D;
    font-size: 16px;
    margin-bottom: 5%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.donate {
    margin: 0 auto;
    width: 50%;
    height: 200px;
    margin-top: 10%;
    font-size: 20px;
    background-color: #B6C5D3;
    border-radius: 4px;
    display: block;
}

.text {
    display: inline-block;
    margin-top: 10%;
    color: #000;
}

p.social {
    display: inline-block;
    margin-top: 5%;
    color: #294C6D;
}
